li{list-style-type: none;}
ul{list-style-type: none; padding-inline-start: 0px;}

.container{
    margin: 0;
}
.mainBG{
    width: 100%;
    background-image: url('../images/main_background.jpg');
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.opening-title {
    font-family: 'Canela Web';
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 6px;
    color: white;
    position: absolute;
    left: 40%;
}
.opening-title .small {
    font-size: 70px;
    margin: 0;
    line-height: 30px;
    font-weight: 30;
    letter-spacing: 5px;
}
.opening-title .big {
    margin: 0px;
    font-weight: 60;
    font-size: 110px;
    line-height: 1.5;
}
li #mj1{
    margin-left: 70%;
}
li #lj1 {
    margin-left: 300%;
}
.imgStart{
    height: 200px;
}

.infoMJ{
    width: 100%;
    background-image: url('../images/jordan_utah.jpg');
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.infoLJ{
    width: 100%;
    background-image: url('../images/lebron_fondo.png');
    background-size: cover;
    margin: 0 auto;
    position: relative;
}